/* * Create an **index.html** file with **Fonts Speciment PT Sans** title 
* Create an HTML page which holds an **article**
* Use **h1** and **h2** tags for headings
* Use **ul** and **ol** tags for lists 
* Use **PT Sans** font-family for the document
* Make the **font-size** 16px
* Change the **line-height** to 1.5 --> */

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
}

h1,
h2 {
    font-family: Cormorant, serif;
    line-height: 1.2;
    font-weight: bold;
}

ul.mainList {
    list-style-type: square;
}

ul.secondList {
    list-style-type: circle;
}

ul.tirthList {
    list-style-type: disc;
}