* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
    background: #EEEEEE;
    width: 70%;
    margin: auto;
}

.site-title {
    display: inline;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    font-size: 200%;
}

hr {
    border: none;
    background: black;
    height: 2px;
}

h2 {
    font-weight: bold;
}

p.site-title {
    margin: 0;
    display: inline-block;
}

.image-one {
    border: 3px solid black;
    background: white;
    padding: 8px;
    margin: 0;
    width: 200px;
    height: 300px;
    float: right;
}

img {
    width: 100%;
    height: 100%;
}

.image-two {
    border: 3px solid black;
    background: white;
    padding: 8px;
    margin: 0 20px 0 0;
    width: 200px;
    height: 150px;
    float: left;
}

blockquote.author {
    border-left: 4px solid gray;
    padding-left: 20px;
    width: 50%;
    padding-top: 0;
    margin: 0;
    padding-bottom: 70px;
    font-style: italic;
    float: right;
}

p.content {
    margin: 0;
    padding-bottom: 20px;
}

.author-name {
    text-align: right;
}

.secondP {
    width: 50%;
    padding-right: 20px;
}

.thirtP {
    clear: both;
}


/* ## Constraints

- Make the font size for phones 12px
- Make the font size for screens larger than 500 14px
- Make the font size for screens larger than 600 16px
- Make the font size for screens larger than 800 18px
- Make the font size for screens larger than 1300 21px
- Make the font size for screens larger than 1800 23px */

@media all and (max-width:499px) {
    body {
        font-size: 12px;
    }
}

@media all and (min-width:500px) {
    body {
        font-size: 14px;
    }
}

@media all and (min-width:600px) {
    body {
        font-size: 16px;
    }
}

@media all and (min-width:800px) {
    body {
        font-size: 18px;
    }
}

@media all and (min-width:1300px) {
    body {
        font-size: 21px;
    }
}

@media all and (min-width:1800) {
    body {
        font-size: 23px;
    }
}