@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

div {
    width: 100%;
    height: 50%;
    margin: auto;
    position: relative;
}

#first {
    background: rgb(25, 92, 157);
    background: linear-gradient(90deg, rgba(25, 92, 157, 1) 0%, rgba(65, 202, 161, 1) 100%);
}

#second {
    background: rgb(169, 52, 118);
    background: linear-gradient(90deg, rgba(169, 52, 118, 1) 0%, rgba(210, 129, 20, 1) 100%);
}

section {
    position: absolute;
    display: block;
}

#first-section {
    left: 35%;
    top: 25%;
    width: 40%;
    height: 50%;
}

#second-section {
    left: 35%;
    top: 10%;
    width: 40%;
    height: 80%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

i {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
}