<ul>
        {{#each towns}}
        <li>{{this}}</li>
        {{/each}}
</ul>


{{!-- трябва да е this, за да сочи към обект от колекцията. В противен случай няма да вкара града в li тага,li тага ще е празен --}}