<section id="viewhotelDetails">
    <div class="profile"><img src="/static/img/profile.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{username}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{email}}</p>
        </div>
        <div class="flex">
            <p>Reservations: </p>
            <p>
                {{#if bookedHotels}}
                <span>{{bookedHotels}}</span>
                {{/if}}

            </p>
        </div>
        <div class="flex">
            <p>Offers: </p>
            <p>
                {{#if offeredHotels}}
                <span>{{offeredHotels}}</span>
                {{/if}}
            </p>
        </div>
    </div>
</section>