<h2>Login</h2>
<form class="auth-form" action="/login" method="POST">
    <div class="inpit-group">
        <span class="inpit-group-text">Username</span>
        <input type="text" aria-label="Username" class="form-control" name="username" />
    </div>
     <div class="inpit-group">
        <span class="inpit-group-text">Password</span>
        <input type="text" aria-label="Password" class="form-control" name="password" />
    </div>

    <div class="input-group">
        <button class="btn btn-primary">Login</button>
    </div>
</form>